body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin-top: 100px;
  box-sizing: border-box;
}

img {
  width: 45px;
  height: 45px;
  grid-area: img;
}

.card-subtitle {
  color: darkgray;
}
.grid-container {
  display: grid;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card-title {
  grid-area: title;
  line-height: 0.6em;
}

.card-text {
  grid-area: text;
  line-height: 1.4em;
  color: grey;
}

.card-avatar {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.card-buttons {
  grid-area: buttons;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.card {
  display: grid;
  width: 350px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 80px 50px;
  grid-template-areas:
    "title title title img"
    "text text text text"
    "buttons buttons buttons buttons";
  border: 2px solid lightgrey;
  border-radius: 5%;
  box-shadow: 2px lightgray;
}

.green-button {
  border-top-color: limegreen;
  border-left-color: limegreen;
  border-bottom-color: limegreen;
  border-right: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  margin: 10px 0;
  padding: 0 50px;
}

.red-button {
  border-color: red;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px 0;
  padding: 0 50px;
}

button {
  background-color: white;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
  color: blue;
}
